#style_entry {
    position: absolute;
    top: 900px;
    left: 60px;
    width: 120px;
    height: 120px;
}
#style_window {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 1860px;
    height: 1020px;
    background-color: orange;
    opacity: 0.6;
    display: none;
}